#header{
	background-image: url("/content/background.jpg");
    height: 600px;
    background-size: 100% 120%;
    background-repeat: no-repeat;
}


#gofetch {
	width: 140px;
	margin: auto;
	display: block;
	margin-top: 10%;
	margin-bottom: 4%;
}

#header-text {
	text-align: center;
	color: white;
}

#email {
	margin: auto;
	display: block;
	width: 30%;
}

#input-email {
	font-size: 15px;
    height: 45px;
    padding: 12px 15px;
    background: rgba(0, 0, 0, 0.7);
    width: 70%;
    float: left;    
    border: 0;
    color: #fff;
}

#submit-email {
    font-size: 15px;    
    padding: 12px 12px;
    background: rgba(12, 146, 229, 1);
    color: #fff;
    border: none;    
    width: 30%;
}

@media only screen and (max-width: 1200px) {
	#email {
		width: 40%;
	}

}

@media only screen and (max-width: 980px) {
	#header {
	    height: 700px;
	    background-size: 100% 100%;	    
	}
	#gofetch {
		margin-top: 15%;
	}
	#email {
		width: 50%;
	}
}

@media only screen and (max-width: 768px) {
	#header {		
	    background-size: 100% 82%;	    
	}
	#email {
		width: 90%;
	}
}